* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: var(--font-inter), sans-serif;
  -webkit-text-size-adjust: 100%;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

.layout-content {
  padding-inline: 2.4rem;

  @media (max-width: 1024px) {
    padding-inline: 2rem;
  }

  @media (max-width: 768px) {
    padding-inline: 1rem;
  }
}
